body{
   background-color: beige;
}
#Game{
    margin: 5rem;
    border: 3px solid;
    text-align: center;
    margin-top: 6rem;
    margin-left: 3 rem;
}

.results{
    margin: 5rem;
    border: 3px solid;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    
}
.Players{
    margin: 5rem;
    border:3px solid;
    text-align: center;
    margin-top: 1rem;
}
.choiceBtn{
    margin: 2rem;
    font-size: 3.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms;
    
}

.choiceBtn:hover{
    transform: scale(1.5);
}

#score{
    font-size: 2rem;
}
#computerscore{
    font-size: 2rem;
}
