body{
   background-color: beige;
}


#Game{
    margin: 5rem;
    border: 3px solid;
    text-align: center;
    margin-top: 6rem;
    margin-left: 3 rem;
}


.results{
    margin: 5rem;
    border: 3px solid;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
   
    
}
.resultpicks{
    display: grid;
    margin: 5rem;
    border:3px ;
    justify-content:center;
    justify-items: center;
    margin-top: 1rem;
}


.userChoice{
    font-size: 4rem;
    opacity: 3;
}


.computerpicks{
    
    margin: 5rem;
    border:3px ;
    text-align: center;
    margin-bottom: 3rem;
    right:10px;
}


.computerChoice{
    font-size: 4rem;


}
.choiceBtn{
    margin: 2rem;
    font-size: 3.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms;
    
}

.choiceBtn:hover{
    transform: scale(1.5);
}

.score{
    font-size: 2rem;
    color: rgb(75, 64, 64);
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

